.container{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 30px;
    color: rgb(15, 14, 14);
    background-color: #AF9D5A;
}

.container h1{
    text-align: center;
}

footer{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 2px;
    padding: 5px;
    background-color: #AF9D5A;
    text-align: center;
    font-weight:700;
}